<div class="Article_personne">

  <img src="/images/vips.png" alt="">
  <p>
  {{#each personne}}
    <a href="/articles/{{this.VIP_NUMERO}}"> {{this.VIP_PRENOM}} {{this.VIP_NOM}} </a> <br>
  {{/each}}
  </p>
</div>
